/*   Fonts    */
@font-face {
  font-family: 'Cormorant Garamond';
  src: url("../assets/fonts/CormorantGaramond-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cormorant Garamond';
  src: url("../assets/fonts/CormorantGaramond-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/*    Global      */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

button,
input {
  font-family: inherit;
}

body {
  font-family: 'Cormorant Garamond', Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
  color: #18244a;
  background-color: #fffbf8;;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  font-weight: 500;
}

main {
  flex-grow: 1;
}

img {
  width: 100%;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-toggle {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0 0 50% 50%;
  border: none;
  font-size: 16px;
  padding: 3px;
  background: rgba(57, 71, 115, 0.9);
  color: #fffbf8;
  z-index: 3;
  cursor: pointer;
}

/*    Header    */

.header__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 60px;
}

.header__inner-wrapper,
.header__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__contacts a {
  color: inherit;
  text-decoration: none;
}

.header__logo {
  font-size: 48px;
  color: inherit;
  text-decoration: none;
}

.header__login {
  position: relative;
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}

.header__login::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  content: '';
  transition: all 0.2s linear;
  background: #18244a;
}

.header__login:hover,
.header__login:focus {
  outline: none;
}

.header__login:hover::before,
.header__login:focus::before {
  left: 0;
  width: 100%;
}

/*         Nav       */

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 45px;
}

.nav__link {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.nav__link b {
  position: absolute;
  top: -10px;
  right: -15px;
  font-size: 20px;
}

.nav__link--disabled {
  opacity: 0.3;
  pointer-events: none;
}

.nav__link::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  content: '';
  transition: all 0.2s linear;
  background: #18244a;
}

.nav__link:hover,
.nav__link:focus {
  outline: none;
}

.nav__link:hover::before,
.nav__link:focus::before {
  left: 0;
  width: 100%;
}

/*    About      */

.about__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 150px 100px;
}

.about__images {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  gap: 40px;
}

.about__image {
  width: 150px;
  height: 400px;
}

.about h1 {
  font-size: 48px;
  font-weight: 500;
  margin: 0 0 100px;
  text-align: center;
}

.about__columns {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
}

.about__text-image {
  flex-shrink: 0;
}

.about__text-wrapper {
  max-width: 500px;
}

.about__text {
  margin: 0 0 23px;
}

.about__text:last-child {
  margin-bottom: 0;
}

/*    Menu     */
.menu {
  color: #fffbf8;
  background-color: #18244a;
}

.menu__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 90px 150px;
}

.menu__columns {
  display: flex;
  align-items: center;
  gap: 50px;
}

.menu h2 {
  font-size: 96px;
  font-weight: 500;
  margin: 0;
  transform: scale(-1);
  letter-spacing: 30px;
  text-transform: uppercase;
  writing-mode: vertical-lr;
}

.menu__link {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  transition: all 0.2s linear;
  text-decoration: none;
  color: inherit;
  border-radius: 0 80px 80px 0;
  gap: 50px;
}

.menu__link:hover,
.menu__link:focus {
  outline: none;
  background: #394773;
}

.menu__link h3 {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}

.menu__image {
  flex-shrink: 0;
  width: 290px;
  height: 160px;
}

/*     Каталог     */

.catalog__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 150px 100px;
}

/*    Ссылки    */

.catalog__links-line {
  display: flex;
  margin-bottom: 50px;
  gap: 5px;
}

.catalog__link {
  text-decoration: none;
  color: inherit;
}

.catalog__link {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.catalog__link::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  content: '';
  transition: all 0.2s linear;
  background: #18244a;
}

.catalog__link:hover,
.catalog__link:focus {
  outline: none;
}

.catalog__link:hover::before,
.catalog__link:focus::before {
  left: 0;
  width: 100%;
}

.catalog__link--disabled {
  pointer-events: none;
  opacity: 0.3;
}

.catalog__link:last-child::after {
  display: none;
}

.catalog__link::after {
  content: '  /';
}

/*     Табы      */
.tabs__buttons-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 20px;
}

.tabs__button {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  padding: 32px 48px 32px 24px;
  user-select: none;
  transition: all 0.2s linear;
  text-transform: uppercase;
  border: 2px solid #18244a;
  border-radius: 0 400px 400px 0;
  text-decoration: none;
}

.tabs__button:hover,
.tabs__button:focus {
  outline: none;
  background: #dfe2ff;
}

.tabs__button--active {
  pointer-events: none;
  color: #fffbf8;
  background: #18244a;
}

/*   Карточки    */

.cards {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px 20px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card form {
  margin-top: auto;
}

.card__image {
  margin-bottom: 20px;
  min-height: 250px;
}

.card h3 {
  font-weight: 500;
  margin: 0 0 20px;
}

.card b {
  display: block;
  margin: 0 0 20px;
  font-weight: 500;
}

.card__button {
  display: block;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  padding: 20px;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #18244a;
  background: transparent;
  transition: all 0.2s linear;
  text-decoration: none;
  color: inherit;
  text-align: center;
  margin-top: auto;
}

.card__button:hover,
.card__button:focus {
  background: #dfe2ff;
  outline: none;
}


/*   Корзина    */
.basket__wrapper {
  padding: 70px 150px 100px;
  max-width: 1200px;
  margin: 0 auto;
}

.basket h1 {
  font-size: 48px;
  margin: 0 0 50px;
  font-weight: 500;
}

.basket p {
  font-size: 48px;
  margin: 0;
}

.basket del {
  font-size: 32px;
}

.basket__list {
  list-style: none;
  margin: 0 0 50px;
  padding: 0;
}

.basket__list p {
  font-size: 20px;
}

.basket__list p a {
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  position: relative;
  font-weight: 600;
}

.basket__list p a::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  content: '';
  transition: all 0.2s linear;
  background: #18244a;
}

.basket__list p a:hover,
.basket__list p a:focus {
  outline: none;
}

.basket__list p a:hover::before,
.basket__list p a:focus::before {
  left: 0;
  width: 100%;
}

.basket__item {
  display: flex;
  padding: 15px 20px;
  align-items: center;
  background: #394773;
  border-bottom: 2px solid #18244a;
  color: #fffbf8;
}

.basket__item h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 0 auto 0 20px;

}

.basket__item a {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.1s linear;
}

.basket__item a:hover,
.basket__item a:focus {
  outline: none;
  transform: scale(1.4);
}

.basket__item a::before,
.basket__item a::after {
  content: '';
  width: 16px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: calc(50% - 8px);
  background: #fffbf8;
}

.basket__item a::before {
  transform: rotate(45deg);
}

.basket__item a::after {
  transform: rotate(-45deg);
}

.basket__button {
  display: block;
  font-family: inherit;
  font-size: inherit;
  padding: 20px;
  width: max-content;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #18244a;
  background: transparent;
  transition: all 0.2s linear;
  text-decoration: none;
  margin: 0 auto;
  color: inherit;
}
.basket__button:hover,
.basket__button:focus {
  outline: none;
  background: #dfe2ff;
}

.basket__button--disabled {
  pointer-events: none;
  opacity: 0.3;
}

.offer {
  color: #ff7676;
  text-shadow: 0 0 5px 0 #ff7676;
}

/*    Форма  входа \ регистрации     */
.form {
  padding: 20px 40px;
  background: #18244a;
  color: #fffbf8;
}

.form h1 {
  font-size: 36px;
  margin: 0 0 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.form__label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 0 30px;
}

.form__label input {
  padding: 10px;
  border-radius: 10px;
  font-size: inherit;
  background: #fffbf8;
  transition: all 0.2s linear;
  min-width: 400px;
  border: none;
}

.form__label input:hover,
.form__label input:focus-visible {
  outline: none;
  background: #dfe2ff;
}

.form__button {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 15px;
  text-transform: uppercase;
  cursor: pointer;
  background: #fffbf8;
  border: none;
  font-size: 24px;
  color: #18244a;
  transition: all 0.2s linear;
}

.form__button:hover,
.form__button:focus {
  outline: none;
  background: #dfe2ff;
}

.reg-link {
  margin: 10px 0 0;
  font-size: 20px;
}

.form > .form__error {
  font-size: 16px;
  margin-bottom: 15px;
}

.form__error {
  display: block;
  color: #ff7676;
  text-shadow: 0 0 5px 0 #ff7676;
  font-size: 12px;
  width: max-content;
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}

/* Стили для разрешение 768 - 1199 */
@media (max-width: 1199px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    transform: translateY(-100vh);
    transition: transform 1s ease;
  }

  .nav.active {
    transform: translateY(0);
  }

  .nav-toggle {
    display: block;
  }

  .nav__list {
    width: 100%;
    height: 100vh;
    background: #dfe2ff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nav__link {
    font-size: 32px;
  }

  .about__wrapper {
    padding: 60px 60px 80px;
  }

  .about h1 {
    font-size: 32px;
    margin: 0 0 50px;
  }

  .about__columns {
    flex-direction: column;
    align-items: flex-start;
  }

  .about__text-image {
    margin-left: auto;
  }

  .about__text-image img {
    width: auto;
  }

  .menu__wrapper {
    padding: 70px 60px;
  }

  .menu__columns {
    align-items: flex-start;
    gap: 30px;
    flex-direction: column;
  }

  .menu h2 {
    transform: scale(1);
    writing-mode: lr;
  }

  .menu__link {
    gap: 30px;
  }

  .menu__link h3 {
    font-size: 28px;
  }

  .catalog__wrapper {
    padding: 60px 60px 80px;
  }

  .tabs__button {
    padding: 16px 24px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .basket__wrapper {
    padding: 60px 60px 80px;
  }
}

@media (max-width: 767px) {
  .header__logo {
    font-size: 36px;
  }

  .header__login {
    font-size: 20px;
  }

  .header__wrapper {
    padding: 15px;
  }

  .header__contacts {
    font-size: 20px;
  }

  .about__images {
    margin: 0 0 30px;
  }

  .about__image:nth-child(even) {
    display: none;
  }

  .about__wrapper {
    padding: 30px 15px;
  }

  .about h1 {
    font-size: 28px;
    margin: 0 0 30px;
  }

  .about__text {
    font-size: 20px;
  }

  .about__text-image {
    display: none;
  }

  .menu__wrapper {
    padding: 15px;
  }

  .menu h2 {
    font-size: 64px;
  }

  .menu__image {
    display: none;
  }

  .menu__link h3 {
    padding: 10px;
  }

  .catalog__wrapper {
    padding: 15px;
  }

  .tabs__buttons-wrapper {
    flex-direction: column;
  }

  .tabs__button {
    width: 100%;
    font-size: 20px;
    padding: 12px;
  }

  .cards {
    grid-template-columns: 1fr;
    gap: 50px 20px;
  }

  .catalog__links-line {
    margin-bottom: 15px;
  }

  .basket__wrapper {
    padding: 15px;
  }

  .basket h1 {
    margin: 0 0 20px;
  }
  .basket p {
    font-size: 32px;
  }

  .basket__list {
    margin-bottom: 20px;
  }

  .basket__list p {
    font-size: 20px;
  }

  .basket__item {
    padding: 10px;
    font-size: 20px;
  }

  .basket__item h3 {
    font-size: 20px;
    margin: 0 auto 0 10px;
  }

  .form__label input {
    min-width: 100%;
  }
}